@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.center-top-left {
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
	}
	.backdrop-blur-md {
		-webkit-backdrop-filter: blur(12px);
		backdrop-filter: blur(12px);
	}
}

.dev-cnt {
	border: 2px solid #f00;
}
.dev-icon {
	background-image: url('/imgs/rubros/icon_Desarrollos_Inmobiliarios.svg');
}

body,
html {
	@apply bg-black;
	font-family: 'Brut Grotesque', sans-serif;
}
body {
	background: linear-gradient(90deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%), url('/imgs/fondo_negro.png');
	overflow-x: hidden;
}

#root {
	overflow-x: hidden;
}